.contents { margin: 0; border: 0; background: transparent; } 
/* .cont-tit { font-size: 20px; font-variation-settings: 'wght' 600; } 
.cont-tit .name { font-variation-settings: 'wght' 700; color: var(--dark-blue); } */
.main-wrap { } 
.top-area { width: calc(100% - 40px); margin: 0 20px; } 
.top-area .profile-area { display: flex; flex-direction: row; width: 100%; padding: 20px; border: 0; background: var(--border-gray); font-size: 15px; } 
.top-area .profile-area .profile-info { display: flex; flex-direction: row; gap: 10px; width: calc(100% - 170px); } 
.top-area .profile-area .profile-info .profile-item { display: flex; align-items: center; gap: 10px; flex: 1; height: 70px; padding-left: 20px; border: 1px solid var(--border-gray); border-radius: 8px; background: #fff; } 
.top-area .profile-area .profile-info .profile-item .profile-title { font-variation-settings: "wght" 600; } 
.bottom-area { display: flex; flex-direction: column; align-items: center; width: calc(100% - 40px); margin: 0 20px; padding-top: 30px; } 
.bottom-area .project-btn-wrap { display: flex; gap: 10px; width: 100%; padding-bottom: 30px;; } 
.bottom-area .project-btn-wrap button { flex: 1; height: 70px; border: 1px solid var(--border-gray); font-size: 16px; color: #333; font-variation-settings: "wght" 500; box-shadow: none; } 
.bottom-area .project-btn-wrap button.active { background-color: var(--main-blue); color: #fff; } 
.bottom-area .chart-area { display: flex; flex-direction: column; gap: 10px; width: 100%; padding: 30px; border: 1px solid var(--border-gray); border-radius: 8px; background-color: #fff; } 
.bottom-area .chart-area .chart-title { font-size: 20px; font-variation-settings: "wght" 600; } 
.bottom-area .chart-area .chart-title::after { display: block; width: 100%; height: 1px; margin-top: 20px; background-color: var(--border-gray); content: ''; } 
.bottom-area .chart-area .chart-content { display: flex; } 
.bottom-area .chart-area .chart-wrap { display: flex; justify-content: center; align-items: center; flex: 1; width: 500px; height: 500px; padding-top: 50px; } 